html {
	font-size: 62.5%;
	cursor: default;
	background-color: #333;
	color: #FFF;
}

body {
	font-family: 'Roboto', sans-serif;
}
a
{
	text-decoration: none;
	color: #FFF;
}
h1 {
	font-size: 4rem;
	display: block;
	margin: auto;
	padding: 2% 2.5%;
}

.nav{
	font-size: 2rem;
	margin:auto;
	padding:1rem;
	background-color: #00B630;
}

.nav p{
	display:inline-block;
	width:65%;
	text-align:center;
	color:#FFF;
	font-size:1.6rem;
}

.nav a{
	font-size: 2rem;
	margin:auto;
	background-color: #00B630;
	-webkit-transition: .2s;
	transition: .2s;
}

.nav a:hover{
	-webkit-transition: .1s;
	transition: .1s;
	color:#DDD;
}

.nav i{
	float:right;
	margin-right:1%;
	color:#FFF;
	-webkit-transition: .2s;
	transition: .2s;
}

.nav i:hover{
	-webkit-transition: .1s;
	transition: .1s;
	color: #DDD;
}

.playerList{
	margin-top:.5rem;
	font-size:2rem;
	height:30rem;
	overflow: hidden;
	background-color:#73929B;
	color:#FFF;
	padding:1rem;
}

.playerListItem{
  text-align:left;
  margin: .2rem;
  padding: 1rem 4rem;
  color: #FFF;
  font-size:1.2rem;
  font-style:italic;
}

.spectating{
  color:#3452CF;
}

.playing{
  color:#77EA9A;
}

.playerListItem p{
  float:right;
}
.playerListItem h2{
  display:inline-block;
  font-style: normal;
  font-size:1.6rem;
}

.chatbox{
	margin-top:5%;
	font-size:2rem;
	height:20rem;
	overflow: hidden;
}

.menu{
	margin: auto;
	margin-top: 15%;
	width:60%;
	font-size: 2.5rem;
}

.menu a{
	padding:5%;
	margin-top:3%;
	box-shadow:2px 2px 2px #CCC;
	display: block;
	text-align:center;
	width:100%;
	background-color: #73929B;
	-webkit-transition:.2s;
	transition: .2s; 
}
.menu a:hover{
	-webkit-transition: .1s;
	transition: .1s;
	background-color: #7E9BA3;
	box-shadow: 3px 3px 3px #CCC;
}

.gameListTable {
	margin-top: 2rem;
	font-size: 1rem;
	position: fixed;
	overflow: auto;
	width:63%;
}

.loginUserTable {
	font-size: 2rem;
	position: fixed;
	overflow: auto;
	width:45%;
}

.loginUserTable td{
	width: 28%;
	margin: 1% 2%;
	text-align: center;
	display:inline-block;
	color:#FFF;
	padding:5% 0%;
	background-color: #73929B;
	box-shadow:2px 2px 2px #CCC;
}

.gameListTable td{
	width: 28%;
	margin: 1% 2%;
	height:4rem;
	text-align: center;
	font-size: 1.1rem;
	max-width:100%;
	display:inline-block;
}

.columnHalfRight p{
	font-size: 2rem;
	margin:2% 0%;
	text-align:center;
}
.columnHalfRight form{
	margin:8% 0%;
	font-size:1.5rem;
	text-align:center;
}
form input{
	margin:1% 0%;
	font-size:1.8rem;
}

.gameImage{
	width: 75%;
	height: 40rem;
	margin:auto;
	background-color:#73929B;
}

.lobbyGameTitle{
	margin:auto;
	display:inline-block;
	color:#FFF;
}

.lobbyReadyButton{
	color:#FFF;
	font-size: 1.6rem;
	margin:auto;
	padding:1.5%;
	margin-top:2%;
	box-shadow:2px 2px 2px #CCC;
	display: block;
	text-align:center;
	width:20%;
	float:right;
	background-color: #73929B;
	cursor:pointer;
	-webkit-transition: .2s;
	transition: .2s;
}

.lobbyReadyButton:hover{
	-webkit-transition: .1s;
	transition: .1s;
	background-color: #7E9BA3;
	box-shadow: 3px 3px 3px #CCC;
}

.lobbyGameText {
	margin:auto;
	margin-top: 2%;
	padding:1% 1%;
	width: 80%;
	font-size: 1.4rem;
	background-color: #CCC;
	max-height: 10rem;
}

.columnHalf {
	display: inline-block;
	width: 45%;
	padding: 0% 1%;
}

.columnHalfRight {
	display: inline-block;
	width: 45%;
	padding: 0% 1%;
	float: right;
}

.column2 {
	display: inline-block;
	width: 63%;
	padding: 0% 1%;
}
.column1 {
	display: inline-block;
	width: 32%;
	padding: 0% 1%;
	float: right;
}

/* 
---Color Schemes---

	--Redbox--
Background: FFF
Box-shadow: DDD
Font-color: FFF
Font-hover: DDD
Nav-bar:	F31C00
Buttons:	A4B9BF
Btn-hover:	7E9BA3
Playing:	77EA9A
Spectating:	3452CF

   --Greenbox--
Background: 333
Box-shadow: CCC
Font-color: FFF
Font-hover: EEE
Nav-bar:	00B630
Buttons:	73929B
Btn-hover:	7E9BA3
Playing:	77EA9A
Spectating:	3452CF

    --Batgirl--
Background: 333
Box-shadow:	000
Font-color: FFF
Font-hover:	EEE
Nav-bar:	DBB153
Buttons:	7A64AF
Btn-hover:	A391CE
Playing:	FFEC85
Spectating: 89BCC5

  --Quicksilver--
Background:	5987A2
Box-shadow: 3A6E8C
Font-color:	EEE
Font-hover:	DDD
Nav-bar:	DB9E53
Buttons:	999
Btn-hover:	A0A0A0
Playing:	FFDD85
Spectating:	2D3786
*/