*{ cursor: default; }
html{
	font-size: 62.5%;
	font-family: sans-serif;
	background-color: #000;
}

#gameCanvas{
	position:fixed;
	height:100%;
	width:100%;
	background-color:#000;
}

header{
	font-size: 6rem;
	text-align: center;
	padding-left: 2.5rem;
	padding-right: 1rem;
	margin:2rem;
	margin-left: 0rem;
	color: #777;
	display: inline-block;
	position: relative;
}

#navMenu{
	width:25rem;
	margin-top: 60rem;
	color:#777;
}

h1{
  	font-size: 2.5rem;
	position: relative;
	z-index: 1;
	text-align: center;
}

ul{
	position: relative;
}

li{
	color:#777;
	text-indent: .5rem;
	font-size: 1.5rem;
	margin-top: .1rem;
	padding:.5rem;
	-webkit-transition: .2s;
	transition: .2s;
}

.selection{ background: rgba(128, 128, 128, .5); }

li:hover{
	background: rgba(128, 128, 128, .5);
	-webkit-transition: .2s;
	transition: .2s;
	cursor: pointer;
}