*{
	padding: 0;
	margin: 0;
	cursor: default;
}

html
{
	font-size: 62.5%;
	font-family: sans-serif;
	overflow: auto;
	background-color: #FFF;
}

#gameCanvas{
	position:fixed;
	height:100%;
	background-color:#000;
}

header
{
	font-size: 8rem;
	text-align: center;
	padding-left: .5rem;
	padding-right: .8rem;
	margin-left: .5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #fff;
	border-top: solid .03rem #fff;
	border-bottom: solid .03rem #fff;
	background: rgba(128, 128, 128, .4);
	display: inline-block;
	z-index: 1;
	position: relative;
}

h1{
  	font-size: 2.5rem;
	display: block;
	width: 10.25rem;
	position: relative;
	z-index: 1;
	color: #fff;
	margin-left: .4rem;
	background: rgba(128, 128, 128, .4);
	text-align: center;
}

ul
{
	display: block;
	position: relative;
	margin: auto;
	width: 25em;
	z-index: 1;
	color: #fff;
	padding: .5rem;
	padding-top: .05rem;
	margin-top: .2rem;
	margin-left: .5rem;
}

li{
	width: 100%;
	text-align: left;
	text-indent: .5rem;
	display: block;
	font-size: 1.5rem;
	margin-top: .1rem;
	padding:.2rem;
	background: rgba(128, 128, 128, .4);
	-webkit-transition: .2s;
	transition: .2s;
}

.selectedGame{
	background: rgba(128, 128, 128, .5);
}

li:hover{
	background: rgba(128, 128, 128, .5);
	-webkit-transition: .2s;
	transition: .2s;
	cursor: pointer;
}