*{ cursor: default; }
html{
	font-size: 62.5%;
	font-family: sans-serif;
	background-color: #000;
}

#gameCanvas{
	position:fixed;
	background-color:#FFF;
}

header{
	font-size: 6rem;
	text-align: center;
	padding-left: 2.5rem;
	padding-right: 1rem;
	margin:2rem;
	margin-left: 0rem;
	color: #FFF;
	display: inline-block;
	position: relative;
	background: rgba(70, 70, 70, .3);
}

#navMenu{
	width:25rem;
	position:absolute;
	bottom:2rem;
	color:#FFF;
}

h1{
  	font-size: 2.5rem;
	position: relative;
	z-index: 1;
	text-align: center;
	background: rgba(90, 90, 90, .3);
}

ul{
	position: relative;
	cursor:pointer;
}

li{
	margin-top: .1rem;
	background: rgba(90, 90, 90, .3);
	padding:.5rem;
}
li a{
	color:#FFF;
	display:block;
	text-indent: .5rem;
	font-size: 1.5rem;
	cursor:pointer;
	transition: .2s;
	-webkit-transition: .2s;
}

.selection{ 
	background: rgba(60, 60, 60, .5);
	transition: .5s;
	-webkit-transition: .5s;
}
.selection:hover{
	background: rgba(60, 60, 60, .5);
}

li:hover{
	background: rgba(120, 120, 120, .3);
	transition: .2s;
	-webkit-transition: .2s;
}