#Server files
*.man
npx
npx.cmd
package-lock.json
node_modules/

#Website files
css/
fonts/
*.html
*.css
jeffreim/Drawing-Eyes/index.html
jeffreim/I-can't-draw-like-you/index.html
jeffreim/Make-something-cool/index.html
jeffreim/RPGL/
jeffreim/index.html


#Examples
scrollerExamples/
jadeExamples/