:root {
	/* Color Variables*/
	--main-bg: #333;
	--dark-bg: #222;
	--light-bg:#444;
	
	--button: #7A64AF;
	--btn-hover: #A391CE;
	--btn-shadow: #222;

	--text: #FFF;
	--text2: #222;
	--text-hover: #DDD;

	--highlight: #DBB153;
	--second-highlight: #666;
	--highlight-inverse: #244EAC;


	--player-text: #FFEC85;
	--spectator-text: #89BCC5;

	--r:51;
	--g:51;
	--b:51;
	--a:1;

	--r2:68;
	--g2:68;
	--b2:68;
	--a2:1;
}

.airplane-icon{ content:url("/icons/airplane.png"); }
.bullhorn-icon{ content:url("/icons/bullhorn.png"); }
.eye-icon{ content:url("/icons/eye.png"); }
.mind-map-icon{ content:url("/icons/mind-map.png"); }
.money-icon{ content:url("/icons/money.png"); }
.motorbike-helmet-icon{ content:url("/icons/motorbike-helmet.png"); }
.shopping-cart-icon{ content:url("/icons/shopping-cart.png"); }
.camera-icon{ content:url("/icons/camera.png"); }
.controller-icon{ content:url("/icons/controller.png"); }
.feather-icon{ content:url("/icons/feather.png"); }
.line-icon{ content:url("/icons/line.png"); }
.monitor-icon{ content:url("/icons/monitor.png"); }
.palette-icon{ content:url("/icons/palette.png"); }
.piggybank-icon{ content:url("/icons/piggybank.png"); }
.printer-icon{ content:url("/icons/printer.png"); }
.space-shuttle-icon{ content:url("/icons/space-shuttle.png"); }


i{
	filter: invert(100%);
	-webkit-filter: invert(100%);
	transition: .2s;
	-webkit-transition: .2s;
}


@keyframes fade{
	0%{
		opacity: 0;
		display:none;
	}
	10%{
		opacity:0;
		display:block;
	}
	100%{
		opacity:1;
		display:block;
	}
}

html{
	background-color: var(--main-bg);
	color: var(--text);
	font-family: 'Titillium Web', sans-serif;
}
body{
	font-size: 2rem;
}
h1{
	font-size: 4rem;
	text-align: left;
	margin-bottom: 2rem;
}

#chat-group{
	max-width: 40rem;
	height: 15rem;
	margin:auto;
	margin-top: 2rem;
}

#chat-group h2{
	margin-bottom: .5rem;
}

#scroll{
	max-height: 10rem;
	width: 42rem;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: var(--dark-bg);
}

#scroll::-webkit-scrollbar{ 
	background-color: var(--main-bg); 
	transition: .2s;
	-webkit-transition: .2s;
}
#scroll::-webkit-scrollbar-thumb{
	background-color: var(--dark-bg);
	transition: .2s;
	-webkit-transition: .2s;
}
#scroll::-webkit-scrollbar:hover{
	background-color: var(--light-bg);
	transition: .1s;
	-webkit-transition: .1s;
}
#scroll::-webkit-scrollbar-thumb:hover{
	background-color: var(--btn-hover);
	transition: .1s;
	-webkit-transition: .1s;
}

.box{
	display:inline-grid;
	width: 5rem;
	padding:1rem;
	margin: .5rem;
}
.username{
	font-size: 1.2rem;
	overflow: hidden;
	max-width: 5rem;
	white-space: nowrap;
	text-overflow: ellipsis;
}

input[type="text"]{
	background-color: var(--main-bg);
	border: 0rem;
	font-size: 2rem;
	color:var(--text);
}
input[type="text"]:focus{
	background-color: var(--light-bg);
	outline: 0rem;
}

form input[type="submit"] {
   color:var(--text);
   padding:1rem;
   font-size: 1.4rem;
   background: var(--button);
   border: 0rem;
   cursor: pointer;
   transition: .2s;
   -webkit-transition: .2s;
 }
form input[type="submit"]:hover{
	color:var(--text2);
	background:var(--highlight);
	transition: .1s;
	-webkit-transition: .1s;
}

.hide{
	animation-direction: reverse;
	animation: fade 1s linear;
	opacity:0;
	display:none;
}
.fade-in{
	animation: fade 2s linear;
}

#register-form{
	background-color: var(--dark-bg);
	padding:5rem;
	text-align: center;
	max-width: 30rem;
	margin:auto;
	margin-top: 10rem;
}

#register-form input[type="submit"]{
	margin-top: 5rem;
}

#register-form input[type="text"]{
	margin-top: 2rem;
	width: 30rem; 
}

#chat-room{
	max-width: 80rem;
	background-color: var(--dark-bg);
	margin:auto;
	text-align: center;
	padding:5rem 10rem;
}
#chat-form{
	max-width: 70rem;
}
#chat-form input[type="text"]{
	display: inline-block;
	padding:.8rem;
	width:75%;
}
#chat-form input[type="submit"]{
	display: inline-block;
}

#chat-board{
	background-color: var(--dark-bg);
	padding: 1rem;
	margin:auto;
	margin-top:2rem;
	max-width: 70rem;
	max-height: 50rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

#chat-board::-webkit-scrollbar{ 
	background-color: var(--main-bg); 
	transition: .2s;
	-webkit-transition: .2s;
}
#chat-board::-webkit-scrollbar-thumb{
	background-color: var(--dark-bg);
	transition: .2s;
	-webkit-transition: .2s;
}

.chat-name{
	color: var(--button);
}
.server-name{
	color: var(--highlight);
}

.chat{
	margin-bottom:1rem;
}